<h1>Burgers</h1>

<h2>Eat the burger</h2>

<ul>
  {{#each burgers}} {{#unless devoured}}
  <div>
    <span>{{this.id}}</span>
    <span>{{this.burger_name}}</span>
    <button class="devour" type="submit" data-id="{{this.id}}">devour it</button>

  </div>
  {{/unless}} {{/each}}
</ul>

<h2>Make a burger</h2>

<ul>
  {{#each burgers}} {{#if devoured}}
  <div>
    <span>{{this.id}}</span>
    <span>{{this.burger_name}}</span>
    {{!--
    <button class="makeburger" type="submit" data-id="{{this.id}}">make the burger</button> --}}

  </div>
  {{/if}} {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <form>
      <label for="ca">burger Name:</label>
      <input type="text" class="form-control" id="enter_text" name="burger_name">
      <button type="submit" id="text-enter-button">submit buger</button>
    </form>
  </div>



  <button type="submit">Add Burger</button>
</form>